/* ----- VARIABLES ----- */
:root {
  --clr-primary: #1D2C67;
  --clr-primary-dk: #0C122C;
  --clr-base: #DDDBFF;
  --clr-base-dk: #848794;
  --clr-ntrl-max: #FFF;
  --grd-primary: #FF4D97, #FFA399;
  --ff-primary: 'Raleway', sans-serif;
}
/* ------- RESET ------- */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
html:focus-within {
  scroll-behavior: smooth;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  min-height: 100vh;
  font-family: var(--ff-primary);
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul, ol {
  list-style: none;
}
picture, img {
  max-width: 100%;
  display: block;
}
button, input, textarea, select, optgroup {
  font: inherit;
}
button {
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ------- STYLES ------- */
.sr-only {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}
.main {
  width: 100%;
  min-height: 100vh;
  padding: 12.7rem 2.5rem 16.4rem;
  display: grid;
  place-items: center;
  color: var(--clr-ntrl-max);
  background: url("../assets/bg-mobile.png") top center / cover no-repeat;
}
.ds {
  width: 100%;
  max-width: 50rem;
  position: relative;
}
.ds__content {
  border-radius: 1rem;
  background-color: var(--clr-primary);
}
.ds__content:nth-child(2) {
  margin-bottom: 1.7rem;
  padding: 4rem;
  border-top-right-radius: 10rem;
}
.ds__content:nth-child(3) {
  padding: 3rem 3.2rem 5rem;
}
.ds__img {
  margin-bottom: 3.3rem;
}
.ds__btns-list {
  display: flex;
  gap: 1.7rem;
}
.ds__btn {
  width: 4.7rem;
  min-height: 4.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .8rem;
  background-color: var(--clr-primary-dk);
}
.ds__icon {
  width: 2.4rem;
  display: block;
  background: center / cover no-repeat;
}
.ds__icon--document {
  width: 2rem;
  height: 2.4rem;
  background-image: url("../assets/icon-document.svg");
}
.ds__icon--folder {
  height: 2rem;
  background-image: url("../assets/icon-folder.svg");
}
.ds__icon--upload {
  height: 1.6rem;
  background-image: url("../assets/icon-upload.svg");
}
.ds__description {
  margin-bottom: 1.3rem;
  font-size: 1.4rem;
  text-align: center;
}
.ds__description em {
  font-style: normal;
  font-weight: 700;
}
.ds__ranks {
  display: flex;
  justify-content: space-between;
}
.ds__value {
  font-size: 1.2rem;
  font-weight: 700;
}
.ds__popup {
  max-width: 17.8rem;
  margin: 0 auto;
  padding: 0.6rem 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1rem;
  text-align: center;
  color: var(--clr-base-dk);
  background-color: var(--clr-ntrl-max);
  opacity: 0;
  animation: popup .35s linear 2.7s forwards;
}
.ds__popup-text {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
}
.ds__popup-text em {
  margin-right: 0.5rem;
  font-size: 4rem;
  font-style: normal;
  vertical-align: -.7rem;
  color: var(--clr-primary-dk);
}
.bar {
  width: 100%;
  height: 2rem;
  margin-bottom: 0.8rem;
  position: relative;
  border: .3rem solid #141E4A;
  border-radius: 1rem;
  overflow: hidden;
}
.bar__base {
  appearance: none;
  width: 100%;
  height: 100%;
  display: block;
  background: none;
  background-color: #141E4A;
}
.bar__base::-moz-meter-bar {
  background: none;
}
.bar__gauge {
  width: 74.5%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
  background-image: linear-gradient(to left, var(--grd-primary));
  pointer-events: none;
  transform: translateX(calc(-100% + 1.4rem));
  animation: bar 1.4s ease-in-out 1s forwards;
}
.bar__gauge::before {
  content: '';
  width: 1rem;
  height: 1rem;
  display: block;
  position: absolute;
  top: calc(50% - .5rem);
  right: .2rem;
  border-radius: 50%;
  background-color: var(--clr-ntrl-max);
}
@keyframes bar {
  from {
    transform: translateX(calc(-100% + 1.4rem));
  }
  to {
    transform: translateX(0);
  }
}
@keyframes popup {
  0% {
    transform: translateY(50%) scale(0.9);
    opacity: .2;
  }
  40% {
    transform: translateY(50%) scale(1);
    opacity: .5;
  }
  60% {
    transform: translateY(50%) scale(1.1);
    opacity: .8;
  }
  100% {
    transform: translateY(50%) scale(1);
    opacity: 1;
  }
}
@media (min-width: 64em) {
  .main {
    padding: 1rem;
    background: url("../assets/bg-desktop.png") left bottom / contain no-repeat var(--clr-primary-dk);
  }
  .ds {
    max-width: 92rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: flex-end;
    gap: 3rem;
  }
  .ds__content:nth-child(2) {
    width: 35rem;
    margin: 0;
    flex-shrink: 0;
  }
  .ds__content:nth-child(3) {
    width: 100%;
    padding: 3.7rem 4rem;
  }
  .ds__description {
    text-align: start;
  }
  .ds__popup {
    margin: 0 0 0 auto;
    top: 0;
    right: 4rem;
    bottom: auto;
    transform-origin: right bottom;
  }
  .ds__popup-text {
    position: relative;
  }
  .ds__popup::before {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    bottom: -2rem;
    right: 0;
    border-width: 0 3.5rem 3.5rem 0;
    border-style: solid;
    border-color: transparent var(--clr-ntrl-max) transparent transparent;
  }
  @keyframes popup {
    0% {
      transform: scale(0.6);
      opacity: .2;
    }
    40% {
      transform: scale(.9);
      opacity: .5;
    }
    60% {
      transform: scale(1.1);
      opacity: .8;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}
